@import 'basscss';

:root {
  --redux-color: #764abc;
  --dark: #1d1d1d;
  --light: #fff;
  --green: #28a92b;
}

html {
  height: 100%;
}
body {
  height: 100vh;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 1.1rem;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Navbar */

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Main content */

section {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.box {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--green);
  font-weight: 600;
  color: var(--light);
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* TodoMVC App CSS */

main {
  background: #f5f5f5;
  color: #111111;
  min-width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 2;
}

main h1,
main h2 {
  width: 100%;
  font-size: 50px;
  font-weight: 200;
  text-align: center;
  color: #b83f45;
  margin-top: 0;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

:focus {
  outline: 0;
}

.hidden {
  display: none;
}

.todoapp {
  background: #fff;
  min-width: 800px;
  position: relative;
  display: flex;
  text-align: left;
  flex-direction: column;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.flex-row-reverse { flex-direction: row-reverse; }
.vh-100 { height: 100vh; }
.vw-100 { width: 100vw; }
.link { color: #0000ff; }
.pointer { cursor: pointer; }
.top-100 { top: 100vh; }
.an-all { transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1); }

body {
  font-family: Futura, 'Trebuchet MS', Arial, 'Montserrat', sans-serif;
}

.not-sm-mb3 { margin-bottom: 1rem; }
.not-sm-mb4 { margin-bottom: 1rem; }

@media (min-width: 42em) {
  .not-sm-mb3 { margin-bottom: 2rem; }
  .not-sm-mb4 { margin-bottom: 4rem; }
}


